// Server config
angular.module('myWordsApp.config', []).constant('CONF',{
  apiUrl: '',
  appId: '',
  options:  {
    workerUrl: 'lib/wordfreq/src/wordfreq.worker.js',
    filterSubstring: true,
    minimumCount: 4,
    stopWords: ['im', 'do']
  }
})
